<footer>
    <p style="margin: 0">Copyrights {{site.time | date: '%Y'}}. All Rights Reserved by {{site.title}}</p>
    <p style="margin: 0">GitHub <a href="https://github.com/a214127826" target="_blank"><strong>a214127826</strong></a></p>
    <p style="margin: 0">邮箱地址：<a href="https://webjeda.com/" target="_blank"><strong>214127826@qq.com</strong></a></p>
     <i class="fa fa-weibo" aria-hidden="true"></i>微博：
     <a href="http://weibo.com/u/5530657544?refer_flag=1001030101_&is_all=1" target="_blank"><strong>II平凡的世界II</strong></a>
</footer>